body {
  .q-card {
    &.active {
      background-color: $primary !important;
    }
  }
}

body.body--light {
  .q-card {
    background-color: $light;
    .q-card {
      background-color:mix(#000, $light, 10%);
    }
    &.active {
      color: white
    }
  }
}

body.body--dark {
  .q-card {
    background-color: $dark;
    .q-card {
      background-color:$dark-page;
    }
  }
}
