body {
  .q-footer {
    background-color: transparent;
  }
}


body.body--light {
  .q-footer {
    .q-card {
      background-color: $light-menu;
    }
  }
}


body.body--dark {
  .q-footer {
    .q-card {
      background-color: $dark-menu;
    }
  }
}
