body {
  .q-select {
    font-size: $body-font-size
  }
}

body.body--light {
  .q-select {
    .q-field__control {
      background-color: $light;
    }
  }
  .q-card {
    .q-select {
      .q-field__control {
        background-color: mix(#000, $light, 5%);
      }
    }
  }
}

/*
body.body--dark {
}
*/
