body {
  a {
    text-decoration: none;
  }
  .text-body1 a, .text-body1 a:visited {
    color: $primary !important;
    font-weight:bold;
  }
}

body.body--light {
  color: black;

  a {
    color: black
  }
}

/*
body.body--dark {
}
*/
