// app global css in SCSS form
a {
  color: $primary;
  text-decoration: none;
}

body {
  font-size: 1rem;
  padding-top: constant(safe-area-inset-top); // for iOS 11.0
  padding-top: env(safe-area-inset-top); // for iOS 11.2 +
}

body .q-dark {
  box-shadow: none !important;
}

//
// Hide arrows on input type number
//
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// for your app's header
